*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(./bg2-pexels-akos-szabo-145938-440731.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-cart{
    width: 600px;
    height: 100%;
    margin-top: 50px;
    
    padding: 20px;
    background-color: rgba(236, 241, 242, .35);
}

.input-area{
    display: flex;
    justify-content: space-between;
}

.total-calculation{
    display: flex;
    margin-top: 70px;
    margin-bottom: 60px;
}


input{
    width: 250px;
    height: 60px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: rgb(165, 255, 127);
    
}

input::placeholder{
    color: #0000FF;
}

.total-calculation input{
    width: 150px;
    height: 50px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 6px;
    color: rgb(93, 0, 255);
}


.total-calculation label{
    margin-left: 50px;
    color: rgb(93, 0, 255);
}

button{
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-left: 30%;
    background-color: tomato;
    color: whitesmoke;
}

button#add_income{
    background-color: green;
}

.warning-message{
    text-align: center;
    margin-bottom: 30px;
    color: red;
    text-transform: uppercase;
    transition: 2s;
    font-size: 30px;
}
